@use "vars" as *;


.c-fc{ //font-color
	&--white{
		color: white !important;
	}
	&--black{
		color: black !important;
	}
	&--yellow{
		color: $yellow !important;
	}
	&--blue{
		color: $blue !important;
	}
	&--green{
		color: $green !important;
	}
	&--orange{
		color: $orange !important;
	}
}



.c-ft{//font-family
	&--en{
		font-family: $font-en;
	}
	&--jp{
		font-family: $font-jp;
	}
}





.c-al{
	&--c{
		text-align: center !important;
	}
	
	&--r{
		text-align: right !important
	}
	
	&--l{
		text-align: left !important;
	}
}











/* ====================================================
Component
==================================================== */
// Common Text style
.c-txt{
	&__basic{

	}
}




//ttl
.c-ttl{
	&__img{
		img{
			width: auto;
			height: clamp(52px,7.08333vw,147px);
			position: relative;
		}
		&--vertical{
			width: clamp(45px,6.45833vw,124px);
		}
	}
}

//btn
.c-btn{
	&__01{
		@include flex(0,center,wrap);
		@include font-size(18);
		color: black;
		line-height: 1.2;
		font-weight: bold;
		width: 305px;
		height: 76px;
		background: white;
		position: relative;
		padding: 10px 20px;
		@include mq(){
			max-width: 173px;
			height: 41px;
			@include font-size(10);
			padding: 5px 14px;
			letter-spacing: 0.5px;
		}
		&:after{
			content: "";
			width: 17px;
			height: 9px;
			background: url("../img/arrow-right.png")no-repeat;
			background-size: 100%;
			position: absolute;
			@include v-align;
			right: 37px;
			@include mq(){
				width: 10px;
				height: 5px;
				right: 18px;
			}
		}
	}
	&__02{
		@include flex(center,center,wrap);
		text-align: center;
		width: 100%;
		max-width: 300px;
		height: 52px;
		background: $blue;
		color: white;
		@include font-size(18);
		font-weight: bold;
		line-height: 1.2;
		border: none;
		outline: none;
		@include smooth-transition;
		margin: 0 auto;
		cursor: pointer;
		@include mq(){
			@include font-size(22.5);
			max-width: 242px;
			height: 64px;
		}
		&:hover{
			opacity: 0.7;
		}
	}
}



