@use "vars" as *;


.c-fc{ //font-color
	&--white{
		color: white !important;
	}
	&--black{
		color: black !important;
	}
	&--yellow{
		color: $yellow !important;
	}
	&--blue{
		color: $blue !important;
	}
	&--green{
		color: $green !important;
	}
	&--orange{
		color: $orange !important;
	}
}



.c-ft{//font-family
	&--en{
		font-family: $font-en;
	}
	&--jp{
		font-family: $font-jp;
	}
}





.c-al{
	&--c{
		text-align: center !important;
	}
	
	&--r{
		text-align: right !important
	}
	
	&--l{
		text-align: left !important;
	}
}











/* ====================================================
Component
==================================================== */
// Common Text style
.c-txt{
	&__basic{

	}
}




//ttl
.c-ttl{
	&__01{

	}
	&__img{
		img{
			width: auto;
			height: 147px;
			position: relative;
		}
	}
}

//btn
.c-btn{
	&__01{
		@include flex(0,center,wrap);
		@include font-size(18);
		color: black;
		line-height: 1.2;
		font-weight: bold;
		width: 305px;
		height: 76px;
		background: white;
		position: relative;
		padding: 10px 20px;
		&:after{
			content: "";
			width: 17px;
			height: 9px;
			background: url("../img/arrow-right.png")no-repeat;
			background-size: 100%;
			position: absolute;
			@include v-align;
			right: 37px;
		}
	}
}


//fade up
.js-scrollin {
	opacity: 0;
	-webkit-transform: translate(0, 70px);
	-ms-transform: translate(0, 70px);
	transform: translate(0, 70px);
	&.active{
		opacity: 1;
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		transform: translate(0, 0);
		-webkit-transition: 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
		-o-transition: 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
		transition: 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	}
}



