@use "vars" as *;


.inner {
	display: block;
	max-width: 1182px;
	padding: 0 15px;
	margin: 0 auto;
}




.mw-410{
	max-width: 410px;
}
.mw-505{
	max-width: 505px;
}

.mt-0{
	margin-top: 0 !important;
}

//form input
.form-control{
	display: block;
	width: 100%;
	height: 61px;
	background: #efefef;
	border: 1px solid #efefef;
	font-weight: 500;
	padding: 5px 15px;
	@include font-size(18);
	border-radius: 15px;
	@include mq(){
		border: 1px solid #d03226;
		height: 50px;
		border-radius: 10px;
		@include font-size(12);
	}
	&:focus{
		border-color: #66afe9;
		outline: 0;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
	}
	&::-webkit-input-placeholder {
		color: rgba(#00072d,0.37);
	}
	&:-moz-placeholder {
		color: rgba(#00072d,0.37);
	}
	&::-moz-placeholder {
		color: rgba(#00072d,0.37);
	}
	&:-ms-input-placeholder {
		color: rgba(#00072d,0.37);
	}
}
textarea.form-control{
	padding-top: 10px;
	height: 163px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	resize: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type=number] {
	-moz-appearance: textfield;
}
textarea.form-control{
	height: 250px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	resize: none;
	@include mq(){
		height: 222px;
	}
}






//radio end check box
.pure-list{
	@include flex(0,0,wrap);
	margin-bottom: 35px;
	@include mq(){
		margin-bottom: 28px;
	}
	li{
		margin-right: 39px;
		@include mq(){
			width: 100%;
			margin: 0 0 2px;
		}
		&:last-child{
			margin-right: 0;
		}
	}
	&__input{
		position: relative;
		input{
			position: absolute;
			top:  0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
			opacity: 0;
			cursor: pointer;
			&[type="checkbox"]{
				& + span{
					&:after{
						background-color: transparent;
						top: 16px;
						left: 7px;
						width: 10px;
						height: 4px;
						border-style: solid;
						border-color: #ffffff;
						border-width: 0 0 3px 3px;
						border-image: none;
						transform: rotate(-45deg) scale(0);
						@include mq(){
							top: 14px;
							left: 3px;
						}
					}
				}
				&:checked{
					& + span{
						&:after{
							content: '';
							transform: rotate(-45deg) scale(1);
							transition: transform 200ms ease-out;
						}
						&:before{
							animation: borderscale 200ms ease-in;
							background: $blue;
						}
					}
				}
			}
			&[type="radio"]{
				+ span{
					&:after,&:before{
						border-radius: 50%;
					}
				}
				&:checked{
					& + span{
						&:before{
							animation: borderscale 300ms ease-in;
						}
						&:after{
							transform: scale(1);
						}
					}
				}
			}
		}
		span{
			display: block;
			position: relative;
			padding: 10px 0 10px 40px;
			vertical-align: middle;
			user-select: none;
			cursor: pointer;
			@include mq(){
				padding-left: 28px;
			}
			&:before{
				content: "";
				position: absolute;
				top: 7px;
				left: 0;
				width: 24px;
				height: 24px;
				background: white;
				border: 1px solid #718CC7;
				text-align: center;
				transition: all 0.3s ease;
				border-radius: 3px;
				@include mq(){
					top: 11px;
					width: 15px;
					height: 15px;
				}
			}
			&:after{
				content: "";
				background-color: #a1a1a1;
				position: absolute;
				top: 18px;
				left: 6px;
				width: 14px;
				height: 14px;
				transform: scale(0);
				transform-origin: 50%;
				transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
			}
		}
	}
}



//navigation
//<div class="nums-page">
//	<div class='wp-pagenavi' role='navigation'>
//		<a class="prevtpostslink previouspostslink" rel="next" aria-label="Prev Page" href="">Prev</a>
//		<span aria-current='page' class='current'>1</span>
//		<a class="page larger" title="Page 2" href="">2</a>
//		<a class="page larger" title="Page 3" href="">3</a>
//		<a class="nextpostslink" rel="next" aria-label="Next Page" href="">Next</a>
//	</div>
//</div>

