<footer id="footer">
	<div class="inner">
		<div class="footer-block">
			<a href="<%= RELATIVE_PATH %>" class="footer-logo">
				GovLet
			</a>
			<nav class="footer-nav">
				<ul class="footer-nav__menu">
					<li><a href="#concept" class="js-scroll">CONCEPT</a></li>
					<li><a href="#worries" class="js-scroll">お悩み</a></li>
					<li><a href="#streng" class="js-scroll">選ばれる理由</a></li>
					<li><a href="#voice" class="js-scroll">利用者の声</a></li>
					<li><a href="#service" class="js-scroll">サービス</a></li>
					<li><a href="#thoughts" class="js-scroll">創業者の想い</a></li>
					<li><a href="#question" class="js-scroll">FAQ</a></li>
					<li><a href="#inquiry" class="js-scroll">お問い合わせ</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="copyright">
		Copyright © GovLet All Rights Reserved.
	</div>
</footer>