<header id="header">
	<a href="<%= RELATIVE_PATH %>" class="header-logo">
		GovLet
		<span>Job change support site</span>
	</a>
	<nav class="header-nav">
		<ul class="header-nav__menu">
			<li class="header-nav__menu-item">
				<a href="#concept" class="js-scroll">CONCEPT</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="#worries" class="js-scroll">お悩み</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="#streng" class="js-scroll">選ばれる理由</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="#voice" class="js-scroll">利用者の声</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="#service" class="js-scroll">サービス</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="#thoughts" class="js-scroll">創業者の想い</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="#question" class="js-scroll">FAQ</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="#inquiry" class="js-scroll">お問い合わせ</a>
			</li>
		</ul>
		<a href="#inquiry" class="header-nav__inquiry js-scroll">INQUIRY</a>
	</nav>
	<span class="js-mobile">
		<span></span>
	</span>
</header>