<header id="header">
	<a href="<%= RELATIVE_PATH %>" class="header-logo">
		GovLet
		<span>Job change support site</span>
	</a>
	<nav class="header-nav">
		<ul class="header-nav__menu">
			<li class="header-nav__menu-item">
				<a href="">CONCEPT</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="">お悩み</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="">選ばれる理由</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="">利用者の声</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="">サービス</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="">創業者の想い</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="">FAQ</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="">お問い合わせ</a>
			</li>
		</ul>
		<a href="" class="header-nav__inquiry">INQUIRY</a>
	</nav>
	<span class="js-mobile">
		<span></span>
	</span>
</header>